/*font-family: 'Dosis', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Sniglet', cursive;*/
body{
	font-family: 'Dosis', sans-serif;
	color: #333333;
	background-image: url(../images/bg.png);
}
/*header start*/
header{
	background-color: #ffd338;
}
.img-1{
	    
}
.menu ul li a{
	color: white ! important;
	padding: 0 20px ! important;
	font-size: 18px;
	border-radius: 10px;
	transition: .5s;
}
.menu ul li a:hover{
	background-color: #F05C5C;
}
.dn-btn{

}
.dpd-btn{
	color: white;	
}
.dpd-btn:hover{
	color: #F05C5C;
}
.dpn-menu1{

}
.dpn-menu1 a:hover{
	background: blue;
}
.search{
	padding: 0 10px;
}
.btn-search{
	color: white;
	background-color: #ffd338;
}
.btn-search:hover{
	background-color: #ffd338;
	color: #F05C5C;
}
.button-clr:hover{
	background: #FFD338;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bnr-contant {
    margin-top: 280px;
    margin-bottom: 280px;
}
.bnr-contant h1{
	font-size: 48px;
	color: #1ec0ff;
}
.scroll{

}
.scroll p{
	color: #7690c5;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
.scroll i{
	font-size: 30px;
	color: #7690c5;
}
/*banner start*/
/*2nd banner*/
.education {
    padding: 100px 0;
}
.title{

}
.title h1{
 	font-size: 30px;
}
.title hr {
    width: 250px;
    border: none;
    border-bottom: 5px dashed;
    color: white;
    margin-top: 20px;
}
.about {
    margin-top: 40px;
}
.about h2{
	font-size: 30px;

}
.about hr{
	width: 150px;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-left: 0px;
}
.about p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #a9a9a9;
}
.about a{

}
.img_btn{
	border-radius: 10px;
	transition: 1s;
}
.img_btn:hover{
	background: #71CEF9;
}
.about_img{
	margin-top: 40px;
}
.about_img img{
	border-radius: 10px;

}
.wrraper{
	background-image: url(../images/bg_img.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0;
}
.box{
	margin-top: 50px;
}
.round-img{
	margin-left: 10px;
	background-image: url(../images/round1.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
.round-img img{
	border-radius: 50%;
}
.text{
	
}
.text h5 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.text p{
	color: white;
	font-size: 20px;
}
.courses{
	margin: 100px 0;
}
.card1{
	
}
.card {
	height: 420px;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.card_header{
	background-color: #1EC0FF;
	padding-top: 15px;
}
.card_header p{
	font-size: 12px;
	color: white;
	font-family: 'Lato', sans-serif;
}
.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
.profile {
    position: absolute;
    top: -12px;
    right: 40px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}
.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.c_h4 h4{
	font-size: 20px;
	color: #1EC0FF;
}
.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}
.txt_p p{
	font-family: 'Lato', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
} 
.foot_spn span{
	margin-left: 30px;
}
.foot_spn{
	margin-top: 12px;
}
.card_header2{
	background-color: #56D47E;
	padding-top: 15px;
}
.card_header3{
	background-color: #F05C5C;
	padding-top: 15px;
}
.card_header4{
	background-color: #FFD338;
	padding-top: 15px;
}
.foot_spn2 span{
	margin-left: 30px;
}
.foot_spn3 span{
	margin-left: 30px;
}
.foot_spn4 span{
	margin-left: 30px;
}
.foot_spn2{
	margin-top: 27px;
}
.foot_spn3{
	margin-top: 7px;
}
.foot_spn4{
	margin-top: 7px;
}